# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env

#const
src/const/import_data/

# Logs
logs.log
*.log
logs/logs/*

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Python version
.python-version

# Test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Misc
*.bak
*.tmp

output.csv
only_ids.txt
product_samples.json